* {
    font-family: 'Roboto', sans-serif;
    user-select: none;
}
.hidden {
    display: none !important;
}
#container {
    letter-spacing: 0.1rem;
    font-weight: 400;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 4vh;
}
#leftBar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0;
    padding: 1vw;
    width: 11vw !important;
    height: 100%;
    overflow: auto;
    position: fixed;
    border-right: 1px solid rgba(0,0,0, 0.3);
}
.button {
    padding-top: 2vh;
    padding: 0.5vw;
    border-radius: 0.5vw;
    border: 1px solid rgba(0,0,0, 0.1);
    width: 8vw;
    font-size: large;
}
.wideBtn {
    width: 12vw !important;
}
.addProjectLeftBarBtn {
    margin-left: 1vw;
    margin-right: 2vw;
    width: 11vw !important;
}
button:hover {
    background: transparent;
}
#logo {
    display: flex;
    padding-left: 2vw;
}
#headerDiv {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0,0,0, 0.3);
}
#addBtnDiv {
    display: flex;
    justify-content: center;
    margin: 0;
    padding-top: 4vh;
    padding-bottom: 4vh;
    padding-right: 4vw;
}
h1 {
    padding-left: 1vw;
}
#taskForm {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}
.rowHeader {
    border: 1px solid rgba(0,0,0, 0.3);
    background-color: rgba(0,0,0, 0.05);
    font-weight: 500;
    font-size: larger;
    padding: 0.5vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr) 5vw;
    text-align: center;
    pointer-events: none;
}
.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 5vw;
    font-size: large;
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0, 0.3);
    padding-bottom: 1vh;
}
.row > .progress {
    margin-left: 5vw;
    margin-right: 5vw;
    border-radius: 0.5vw;
    border: 1px solid rgba(0,0,0, 0.3);
}
.archiveRow {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 5vw;
    font-size: large;
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0, 0.3);
    padding-bottom: 1vh;
}
.archiveRow > .progress {
    margin-left: 5vw;
    margin-right: 5vw;
    border-radius: 0.5vw;
    border: 1px solid rgba(0,0,0, 0.3);
}
.inProgress {
    background-color: rgb(80, 200, 120, 0.7);
}
.notStarted {
    background-color: rgb(240,128,128,0.5);
}
.done {
    width: 20px;
    height: 20px;
    max-width: 20px;
    max-height: 20px;
}
.completed {
    background-color: rgb(80, 200, 120, 0.7);
}
.pageHeader {
    border: 1px solid rgba(0,0,0, 0.3);
    background-color: rgba(0,0,0, 0.05);
    font-weight: 500;
    font-size: larger;
    padding: 0.5vw;
    text-align: center;
    pointer-events: none;
}
.pageRow {
    font-size: large;
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0, 0.3);
    padding-bottom: 1vh;
    padding-top: 2vh;
}
#listAllProjectsPage {
    max-width: 50%;
    padding-top: 2vh;
    margin-left: 14vw;
    margin-right: 2vw;
}
input {
    font-size: 1.2rem;
    color:rgba(0,0,0, 0.7);
}
select {
    font-size: 1.2rem;
    color:rgba(0,0,0, 0.7);
}
input[type="date"] {
    font-family: 'Roboto', sans-serif;
    color:rgba(0,0,0, 0.7);
}
#addTaskHeaderFormPage {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    padding-top: 2vh;
    margin-left: 22vw;
    margin-right: 2vw;
    row-gap: 2vh;
}
#homePage {
    display: flex;
    flex-direction: column;
    min-width: 70%;
    padding-top: 2vh;
    margin-left: 14vw;
    margin-right: 2vw;
    row-gap: 2vh;
}
#archivePage {
    display: flex;
    flex-direction: column;
    min-width: 70%;
    padding-top: 2vh;
    margin-left: 14vw;
    margin-right: 2vw;
    row-gap: 2vh;
}
#addProjectFormPage {
    max-width: 60%;
    margin-left: 14vw;
    margin-right: 2vw;
}
.projectForm {
    margin-left: 8vw !important;
    display: flex;
    flex-direction: column;
    padding-top: 2vh;
    row-gap: 2vh;
    width: 70%;
}
#addTaskToProjectFormPage {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    padding-top: 2vh;
    margin-left: 14vw;
    margin-right: 2vw;
    row-gap: 2vh;
}
#listTasksInProjectPage {
    max-width: 60%;
    padding-top: 2vh;
    margin-left: 14vw;
    margin-right: 2vw;
}
.projectDetails > .tasksInProject {
    margin-bottom: 2vh;
}
.projectDetails > .button {
    margin-left: 3vh;
}